apiVersion: apps/v1
kind: Deployment
metadata:
  name: calculator-deployment
  namespace: calculator
spec:
  replicas: 2
  selector:
    matchLabels:
      app: calculator
  template:
    metadata:
      labels:
        app: calculator
    spec:
      containers:
      - name: calculator
        image: 624909705616.dkr.ecr.eu-north-1.amazonaws.com/calculator-app:1
        ports:
        - containerPort: 8080
